<fieldset>
  <ul>
    <li class="bbf-field bbf-fieldText">
      <label for="new-task-title">Title</label>
      <div class="bbf-editor bbf-editorText">
        <input id="new-task-title" name="title" type="text">
      </div>
      <div class="bbf-help">
      </div>
    </li>
    <li class="bbf-field bbf-fieldText">
      <label for="new-task-link">Url</label>
      <div class="bbf-editor bbf-editorText">
        <input id="new-task-link" name="link" type="text">
      </div>
      <div class="bbf-help">
      </div>
    </li>

    <li class="bbf-field">
      <input type="submit" value="Create url">
    </li>
    <li class="bbf-field">
      <a class="leave" href="#">I'm done adding Urls</a>
    </li>
  </ul>
</fieldset>
