<li>
  <span class="content">
<a class="upvote-link" href="#">+</a><a class="downvote-link" href="#">-</a>
<span class="votes"></span>
<a class="post-link" target="_blank" href="#">details</a>
<a class="post-edit-link" href="#">[Edit]</a>
  </span>
      <span class="timestamp">
    Posted  <span class='created_at'>
  (created)</span> ago. from <span class='user_email'>
  (email)</span>
</span>
</li>