<li>
<span class="votes"></span>
  <span class="content">
<div class="content_head">
<div class="vote-buttons">
<a class="upvote-link" href="#">+</a> <a class="downvote-link" href="#">-</a>

</div>

<a class="post-link" target="_blank" href="#">details</a>
<a class="post-add-comment" href="#">details</a>
  </div>
      <div class="content_bottom">
    Posted  <span class='created_at'>
  (created)</span> from <span class='user_email'>
  (email)</span>
</div>

 <div class="content_comments">
 <span class="commentarea"><textarea class="commentbox" name='comment' rows='5' cols='10'></textarea>
<input class="submit" type="submit" name="submit" value="Create">
</span>
 </div>
</span>
</li>