<li>
  <span class="content">
<a class="vote-link" href="#">+</a>
<span class="votes"></span>
<a class="post-link" target="_blank" href="#">details</a>
  </span>
      <span class="timestamp">
    Posted  <span class='created_at'>
  (created)</span> ago. from <span class='user_email'>
  (email)</span>
</span>
</li>