<li>
 <span class="flash-place">    </span>
<span class="votes"></span>
  <span class="content">
<div class="content_head">
<div class="vote-buttons">
<a class="upvote-link" href="#">+</a> <a class="downvote-link" href="#">-</a>

</div>

<a class="post-link" target="_blank" href="#">details</a>

  </div>
      <div class="content_bottom">
    Posted  <span class='created_at'>
  (created)</span> ago. from <span class='user_email'>
  (email)</span>
</div>
</span>
</li>